@import controllers.Application.Customer
@import play.api.libs.json.Json

@(customer: Customer)
@main("Welcome to Play") {

    <a href="@routes.Application.uploadCustomer()">Back to upload</a>
    <script src="@routes.Assets.versioned("javascripts/versioned/customerView.js")" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        var jsonCustomer = @Html(Json.toJson(customer).toString);
        console.log(jsonCustomer);

    var view = new CustomerView(jsonCustomer);
    view.draw();
    </script>
}