@main("Welcome to Play") {

  @helper.form(action = routes.Application.showCustomer, 'enctype -> "multipart/form-data") {

    Customer file:<br/>
    <input type="file" name="customer">

    <p>
      <input type="submit">
    </p>
  }

}